<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Über mich", '#', :class => active_class?('#')  %>
  </li>
  <li>
    <%= link_to "Vergolden", '#', :class => active_class?('#')  %>
  </li>
  <li>
    <%= link_to "Restaurieren", '#', :class => active_class?('#') %>
  </li>
  <li>
    <%= link_to "Fassmalen", '#', :class => active_class?('#') %>
  </li>
  <li>
    <%= link_to "Rahmenfertigung", '#', :class => active_class?('#') %>
  </li>
  <li>
    <%= link_to "Kontakt", '#', :class => active_class?('#') %>
  </li>
</ul>
